body {
  font-family: "Questrial", sans-serif;
  text-align: center;
}
.current-city {
  color: #ffcc63;
  text-align: center;
  font-weight: 900;
  font-size: 40px;
}

.temp-head {
  font-weight: bold;
}

#temp-description {
  text-transform: capitalize;
}

#icon {
}

#temperature-element {
  padding-left: 10px;
  font-weight: bold;
  font-size: 64px;
  line-height: 1;
  text-align: bottom;
  padding-top: 20px;
}

#celsius,
#farenheit,
#unit-separator {
  position: relative;
  font-size: 14px;
  top: -35px;
}

#celsius:hover,
#farenheit:hover {
  cursor: pointer;
}

#search-button,
#current-button {
  background-color: #ffcc63;
  color: #fff;
  border: none;
  border-width: thin;
  border-color: #bd8318;
  border-radius: 4px;
}
#current-button {
  background-color: #f1d191;
}

footer {
  font-size: 14px;
  margin-top: 10px;
  text-align: left;
}

.weather-app-wrapper {
  max-width: 700px;
  margin: 30px auto;
}

.weather-app {
  padding: 30px 20px;
  border: 1px solid #f1d191;
  border-radius: 10px;
}
