body {
  font-family: "Questrial", sans-serif;
  text-align: center;
}
.display-city {
  color: #abacb1;
  text-align: center;
  font-weight: 900;
  font-size: 40px;
}

.temp-head {
  font-weight: bold;
}

#city-entered {
  width: 400px;
}

#search-button,
#current-button {
  height: 40px;
  width: 80px;
}

#temp-description {
  text-transform: capitalize;
}

#icon {
  position: relative;
  top: -18px;
}

#temperature-element {
  padding-left: 10px;
  font-weight: bold;
  font-size: 64px;
}

#celsius-link,
#farenheit-link,
#unit-separator {
  position: relative;
  font-size: 14px;
  top: -35px;
}
#forecast-icon {
  width: 50px;
}

#farenheit-link:hover {
  cursor: pointer;
}

#search-button,
#current-button {
  background-color: #ffcc63;
  color: #fff;
  border: none;
  border-width: thin;
  border-color: #bd8318;
  border-radius: 4px;
}
#current-button {
  background-color: #f1d191;
}

footer {
  font-size: 14px;
  margin-top: 10px;
  text-align: left;
}

.weather-app-wrapper {
  max-width: 700px;
  margin: 30px auto;
}

.weather-app {
  padding: 30px 20px;
  border: 1px solid #f1d191;
  border-radius: 10px;
}

.center-element .active {
  color: black;
  cursor: default;
}

.center-element .active:hover {
  text-decoration: none;
}
